#introduction {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 600%;
}

body {
    background-image: url("10-graph.jpg");
    background-repeat: repeat;
}

table, th, td {
    border: 1px solid darkgrey;
    background-color: rgba(255, 255, 255, 0.24);
    font-family: "Coda";
}

table {
    width: 60%;
    margin: auto;
}

input {
    width: 100%;
    margin: auto;
}

button {
    border-radius: 7px;
    margin: auto;
    width: 100%;
}

.task {
    font-family: "Indie Flower";
    font-size: 150%;
}

.complete {
    background-color: rgba(200, 200, 200, 0.7);
    text-decoration: line-through;
}

#columnHeadings {
    font-size: 125%;
}